*{
  margin: 0;
  padding: 0;
  
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55555555;
}
.sticky_header{
animation:sticky 10s;
background:teal;
transition:0.6s;
}
@keyframes sticky{
  from{
    top:-30px;
  }
  to{
    top:0px;
  }
}